APP_ROLE=server
DEVICE_ID="OVERLORD-COMMAND"
DEVICE_KEY="OVERLORD-COMMAND-KEY"
CENTRAL_URL="${CENTRAL_URL:-http://127.0.0.1:8000}" # Don't need it actually
RUN_SYNC_WORKER=1 # Don't need this as well.